<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scholarship Officer Dashboard</title>
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/dashboard.css') }}"
>
</head>
<body>

    <div id="admin-dashboard-page">

        <h1>Scholarship Officer Dashboard</h1>

        <p>Welcome, {{ session["user_name"] }}!</p>

        <a href="{{ url_for('auth.logout') }}" id="admin-logout-link">
            Logout
        </a>

    </div>

</body>
</html>